body {
    background-color: color-mix(in srgb, Canvas, CanvasText 2.5%);
    color: color-mix(in srgb, CanvasText, Canvas 15%);
    color-scheme: light dark;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
}

#transporter>p {
    font-size: x-large;
    font-family: monospace;
}

.control-module {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-module>label>span {
    font-family: monospace;
}

.control-module>input {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid black;
}