body {
    background-color: color-mix(in srgb, Canvas, CanvasText 2.5%);
    color: color-mix(in srgb, CanvasText, Canvas 15%);
    color-scheme: light dark;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
}

#all-parts-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

#all-parts-options>div {
    padding: 10px;
    border: 1px solid grey;
}

.synth-options {
    display: flex;
    flex-direction: row;
}

.controller-types {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.controller-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bottom-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#transporter {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#transporter>p,
.control-module>label>span {
    font-size: xx-large;
    font-family: monospace;
}

.control-module {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-module>input {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}