@font-face {
    font-family: 'hd44780';
    src: url('fonts/hd44780.ttf') format('truetype');
}

:root {
    --text-color: color-mix(in srgb, Canvas, CanvasText 2.5%);
    --background-color: color-mix(in srgb, CanvasText, Canvas 15%);
}

* {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--text-color);
}

#controller-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.controller {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
    margin: 1rem;

    border: 1px solid;
}

.controller-module {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 3vw;

    border: 1px solid;
}

label {
    font-family: 'hd44780', monospace;

    padding: 2.5% 4.5%;
    border: 1px solid;
    border-radius: 5px;


    width: 16ch;
    min-height: 48px;
    line-height: 1.5;

    color: var(--background-color);
    background-color: var(--text-color);
}

input[name="knob"] {
    margin-top: 1rem;
}

/* BEGIN STUFF FOR KNOBS */

input[type=range].input-knob,
input[type=range].input-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0px 0%;
    background-color: transparent;
    touch-action: none;
}

input[type=range].input-knob {
    width: 64px;
    height: 64px;
}

input[type=range].input-knob::-webkit-slider-thumb,
input[type=range].input-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    opacity: 0;
}

input[type=range].input-knob::-moz-range-thumb,
input[type=range].input-slider::-moz-range-thumb {
    -moz-appearance: none;
    height: 0;
    border: none;
}

input[type=range].input-knob::-moz-range-track,
input[type=range].input-slider::-moz-range-track {
    -moz-appearance: none;
    height: 0;
    border: none;
}

/* END OF STUFF FOR KNOBS */

#transporter {
    position: sticky;
    bottom: 0;

    padding-top: 1rem;
    text-align: center;

    border-top: 1px solid;
}

#transporter>button {
    font-size: large;
    margin-bottom: 2rem;
}